#Udev for FIDO U2F

ACTION!="add|change", GOTO="u2f_end"

# JaCarta U2F
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="24dc", ATTRS{idProduct}=="0501", TAG+="uaccess"

LABEL="u2f_end"
